<h1>All Artists</h1>

<% @artists.each do |artist| %>
  <h2><%= artist.name %>
    <%= link_to 'Edit', edit_artist_path(artist), method: :get %>
    <%= link_to 'Delete', artist_path(artist), method: :delete %></h2>
<% end %>

<%= link_to 'New Artist', new_artist_path %>
